@import "styles/variables";

.navlink {
  color: $text_black;
  text-decoration: none;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  @media only screen and (max-width: 640px) {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

.active {
  color: $text_primary !important;
  border-bottom: 2px solid $text_primary;
  @media only screen and (max-width: 640px) {
    border-bottom: unset;
  }
}
